body {
    padding: 0;
    margin: 0;
    background-image: url('../SubHome/data/img/치킨.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}